*{
    text-align: center;
    nav-up: auto;
    font-style: italic;
}
h1{
    color: gold;
}
p{
   font-size: large;
   font-weight: bolder;
}
nav{
    color: black;
    background: fixed;
    background-color: black;
}
.football{
    color: gold;
}